@media all and (max-width: 1024px) {

}
@media all and (min-width: 768px) and (max-width: 1024px) {

}
@media not screen and (color) {

}
@media only screen and (orientation: portrait) {

}
@media all and (max-width: 420px) {

}


body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
}
.text-muted {
    color: #bcbbbb;
}
.text-thin {
    font-weight: 100;
}
.col-md-6 {
    float: right;
}

.logo {
    float: left;
}
h4 {
    font-size: 2.5vw;
}
h1 {
    font-size: 4vw;
}
h2 {
    font-size: 4vw;
}
h3 {
    font-size: 4vw;
}
.text-uppercase {
    font-size: 4vw;
}